/* Secciones de cada jornada */
.jornada {
    width: 37vw; /* Cada jornada ocupa casi la mitad del ancho */
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
td {
    position: relative;
}
/* Alternar posición de las jornadas */
.jornada:nth-child(even) {
    float: left;
    clear: left;/* Soluciona que al activar un desplegable en una
                    jornada, desajustando las alturas entre tablas
                    de jornadas paralelas, no se descuadren las tablas
                    al intentar rellenar los huecos como consecuencia 
                    del float */
} 

.jornada:nth-child(odd) {
    float: right;
    clear: right; 
}

/* Estilos del título */
h3 {
    color: red;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Estilos de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-family: 'Exo 2';
}

/* Alternar colores cada DOS filas */
table tr:nth-child(4n + 3),
table tr:nth-child(4n + 4) {
    background-color: #f8f8f8;
}

/* Añadir punto de ruptura a los 992px */
@media (max-width: 992px) {
    
    /* Desactivar floats */
    .jornada {
        float: none;
        width: 100%;
    }

    table {
        font-size: 3vw;    
    }

    h2 {
        font-size: 3vw;
    }

}