
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Orbitron';
    text-align: center;
    background-color: rgb(F,F,F);
    padding: 0px;
    margin: 0px;
}
.cabecera{
    box-sizing: border-box;
    height: 22vh;
}
.subcabecera {
    font-size: 18px;
    box-sizing: border-box;
    height: 11vh;
    color: white;
    background-color: rgb(255, 0, 0);
    padding-left: 10rem;
    padding-right: 8rem;
    padding-top: 3vh;
}

.text1{
    display: inline;
    float: left;
}

.text2{
    display: inline;
    float: right;
}


a:visited {
    color: inherit;
}

a.sobrenosotros{
    text-decoration: none;
}


section p {
    font-weight: bold;
}
/*
.contenedorImagenes {
    margin: 0;
    padding: 0;
}

.im1{
    padding: 0px;
    margin: 0px;
    float: left;
    width: 50%;
}
.im2{
    padding: 0px;
    margin: 0px;
    float: right;
    width: 50%;
}

.im3{
    padding: 0px;
    margin: 0px;
    float: left;
    width: 50%;
}
.im4{
    padding: 0px;
    margin: 0px;
    float: right;
    width: 50%;
}
.apartado{
    position: absolute;
    top: 50%;
    left: 50%;
}*/
/* Contenedor de imágenes */
.im1 {  grid-area: im1; }
.im2 {  grid-area: im2; }
.im3 {  grid-area: im3; }
.im4 {  grid-area: im4; }

.contenedorImagenes {
    display: grid;
    grid-template-areas: 
        'im1 im2'
        'im3 im4';
    grid-template-rows: 33vh 33vh;
    grid-gap: 0px;
    margin: 0px;
    padding: 0;
}

.contenedorImagenes figure{
    padding: 0px;
    margin: 0px;
    align-items: center;
    position: relative;
}

.contenedorImagenes figure img{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.apartado{
    font-size: 48px;
    position: absolute;
    top: 35%;
    left: 35%;
}

/* Footer */
footer {
    float: bottom;
    margin-top: 0px;
    background: #222;
    color: white;
    padding: 15px;
}