@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.cabecera {  grid-area: cabecera; }
.subcabecera { grid-area: subcabecera}
.im1 {  grid-area: im1; }
.im2 {  grid-area: im2; }
.im3 {  grid-area: im3; }
.im4 {  grid-area: im4; }
footer { grid-area: footer } 

body {
    display: grid;
    font-family: 'Orbitron';
    background-color: rgb(F,F,F);
    padding: 0px;
    margin: 0px;
    grid-template-areas: 
        'cabecera cabecera'
        'subcabecera subcabecera'
        'im1 im2'
        'im3 im4'
        'footer footer';
    grid-gap: 0px;
    grid-template-rows: 22vh 11vh 33vh 33vh 11vh;
}
.cabecera {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.cabecera figure {
    height: 100%; /* Ocupa toda la altura del contenedor */
    display: flex;
    align-items: center; /* Asegura que la imagen se mantenga centrada */
}
.cabecera figure img {
    max-height: 100%; /* Ajusta la imagen a la altura del contenedor */
    max-width: 100%; /* Evita que la imagen desborde */
    height: auto; /* Mantiene la proporción */
    width: auto; /* Permite que la imagen se reduzca proporcionalmente */
}
.subcabecera {
    font-size: 18px;
    box-sizing: border-box;
    color: white;
    background-color: rgb(255, 0, 0);
    padding-left: 10rem;
    padding-right: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text1{
    display: inline;
}

.text2{
    display: inline;
}

a:visited {
    color: inherit;
}

a.sobrenosotros{
    text-decoration: none;
    transition: filter 0.2s ease-in-out, text-shadow 0.s ease-in-out;
}
.text2 a:hover {
    filter: brightness(2); /* Aumenta el brillo */
    text-shadow: 0 0 15px white, 0 0 30px white, 0 0 45px white;
}
section p {
    font-weight: bold;
}


.im1, .im2, .im3, .im4{
    padding: 0px;
    margin: 0px;
    position: relative;
    transition: filter 0.4s;
}

.im1:hover, .im2:hover, .im3:hover, .im4:hover {
    filter: brightness(0.9); /* Oscurece la imagen */
}
.im1 img, .im2 img, .im3 img, .im4 img{
    display: block;
    width: 100%;  /* Hace que la imagen se ajuste al ancho del figure */
    height: 100%; /* Mantiene la proporción original */
}

.apartado {
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none; /* Para que o texto non bloquee a imagen*/
}

/* Punto de ruptura a 1019px */
@media screen and (max-width: 1019px) {
    body {
        grid-template-areas: 
            'cabecera'
            'subcabecera'
            'im1'
            'im2'
            'im3'
            'im4'
            'footer';
        grid-template-rows: 22vh 11vh;
    }
    .subcabecera {
        font-size: 14px;
        flex-direction: column;
        padding: 10px;
    }
    
    .apartado {
        font-size: 5vw;
    }
}

@media screen and (max-height: 650px) {
    body {
        grid-template-rows: 150px 170px;
    }
}

/* Footer */
footer {
    padding: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background: #222;
    color: white;
    text-align: center;
}
