
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Orbitron';
    text-align: center;
    background-color: rgb(F,F,F);
    padding: 0px;
    margin: 0px;
}

.subcabecera { 
    display: flex;
    gap: 55vw;
    color: white;
    background-color: rgb(255, 0, 0);
    padding-left: 8rem;
    padding-right: 2rem;
    height: 11vh;
    align-items: center;
}

a:visited {
    color: inherit;
}

a.sobrenosotros{
    text-decoration: none;
}

header figure {
    height: 22vh;
}


section p {
    font-weight: bold;
}


/* Contenedor de imágenes */
.im1 {  grid-area: im1; }
.im2 {  grid-area: im2; }
.im3 {  grid-area: im3; }
.im4 {  grid-area: im4; }

.contenedorImagenes {
    display: grid;
    grid-template-areas: 
        'im1 im2'
        'im3 im4';
    grid-template-rows: 33vh 33vh;
    grid-gap: 0px;
    margin: 0px;
    padding: 0;
}

.contenedorImagenes figure{
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.contenedorImagenes figure img{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.apartado{
    position: relative;
}

/* Footer */
footer {
    margin-top: 0px;
    background: #222;
    color: white;
    padding: 15px;
}
