aside div, .articulo {
    background-color: #f9f3f3;
}

/* Modificación para igualar la cabecera a otras páginas
como consecuencia de las modificaciones de bootstrap */
.cabecera p{
    margin: 0px;
    line-height: 27px ;
}

.lista {
    font-family: 'Exo 2';
}

.lista li {
    border-bottom: 2px solid black;
}

.div-titulo {
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-bottom: 50px;
    box-sizing: border-box;
}

.contenedor-noticias {
    max-height: 70vh;
    overflow-y: auto;
}

.mi-li {
    line-height: normal !important;
}

h1 {
    font-weight: 700;
}
@media screen and (max-width: 992px) {
    main {
        padding-left: 8.3% !important;
        padding-right: 8.3% !important;
    }
}