aside div, .articulo {
    background-color: #f9f3f3;
}

.lista {
    font-family: 'Exo 2';
}

.lista li {
    border-bottom: 2px solid black;
}

.div-titulo {
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-bottom: 50px;
    box-sizing: border-box;
}

.contenedor-noticias {
    max-height: 70vh;
    overflow-y: auto;
}

@media screen and (max-width: 805px) {
    main {
        margin-top: 420px;
    }
}